body {
  /*padding-top: 70px;*/
  /*padding-bottom: 30px;*/
  font-size: 28px;
  line-height: 36px;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 22px;
    line-height: 26px;
    font-weight: lighter;
  }
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 830px;
    padding-top: 50px;
  }
}

.centered {
  text-align: center;
}

.row {
  padding-bottom: 50px;
}

p {
  padding-bottom: 15px;
}

.lighter {
  font-weight: lighter;
}

.side {
  color: rgb(85,85,85);
}

.btn-xl {
    padding: 15px 22px;
    font-size: 28px;
    line-height: 1.33;
    border-radius: 6px
}

footer {
  height: 200px;
}

.breathe {
  padding-bottom: 50px;
}

.cta {
  padding-top: 50px;
  color: #dedede;
  background-color: #333;
  text-align: center;
  padding-bottom: 100px;
}

.white {
  color: #dedede;
}

/*.cover {
  background-image: url("../Hero.png");
  background-size: cover;
  background-position: center;
  height: 600px;
}*/

img.bg {
  /* Set rules to fill background */
  /*min-height: 100%;*/
  /*min-width: 600px;*/

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  /*position: fixed;*/
  top: 0;
  left: 0;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) { /* Specific to this particular image */
  img.bg {
    /*left: 50%;
    margin-left: -100px;   /* 50% */*/
  }
}

.blog-image {
  max-height: 500px;
  max-width: 65%;
  margin: 0 auto;
  padding-bottom: 25px;
}
